@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

h1 {
    font-weight: bold;
    color: white;
}

div.info {
    margin: 12px 0;
}

div.info * {
    color: white;
}

#icons {
    display: none;
    filter: url(#drop-shadow);
}

.container {
    position: absolute;
    left: 1000px;
}

#vehicle {
    fill: white;
}

div.menuHolder {
    user-select: none;
    -moz-user-select: none;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 35%; /* Biraz aÅŸaÄŸÄ± kaydÄ±rdÄ±m */
}

svg.icons {
    display: none;
}

svg.menu {
    position: absolute;
    overflow: visible;
    transition: 0.1s ease-out;
}

/* MENÃœ BOYUTU KÃ¼Ã§Ã¼ltÃ¼ldÃ¼ ve dÃ¶ndÃ¼rme kaldÄ±rÄ±ldÄ± */
svg.menu.inner {
    transform: scale(0.48); /* Daha kÃ¼Ã§Ã¼k Ã§ap */
    opacity: 0;
    visibility: hidden;
}

svg.menu.outer {
    opacity: 0;
    visibility: hidden;
}

/* Arka plan (sektÃ¶rler) */
svg.menu > g > path {
    fill: #5e5e5eb8;
    stroke: #b8b5b765;
    stroke-width: 1px;
    stroke-opacity: 0.6;
}

/* SektÃ¶r hover */
svg.menu > g.sector:hover > path {
    fill: rgba(80, 80, 80, 0.8); /* iÃ§ rengi yine kÄ±rmÄ±zÄ± */
     /* normalden daha kalÄ±n kenarlÄ±k */
}

/* SektÃ¶r yazÄ± ve ikon */
svg.menu > g.sector > text,
svg.menu > g.sector > use {
    font-family: "Poppins", sans-serif;
    font-size: 4.5px; /* YazÄ±larÄ± biraz bÃ¼yÃ¼ttÃ¼m */
    font-weight: bold;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    cursor: pointer;
    fill: white;
}

/* Merkez buton */
svg.menu > g.center > circle {
    fill: rgba(80, 80, 80, 0.8);
stroke: #b8b5b765;
    stroke-width: 1px;
    stroke-opacity: 0.6;
    cursor: pointer;
}

/* Merkez hover */
svg.menu > g.center:hover > circle {
    fill: rgba(80, 80, 80, 0.9);
}

/* Merkez X ikonu */
svg.menu > g.center > text,
svg.menu > g.center > use {
    font-family: "Poppins", sans-serif;
    font-size: 5px; /* X iÅŸareti daha bÃ¼yÃ¼k */
    cursor: pointer;
    fill: white;
}
