<div :style="{width:getMaxWidth+'px'}" v-if="hudSettings.showWatermark" class="info"
    :class="{hovered:hoveredSettingsElement == 'info' || selectedSettingsElement == 'info'}">
    <div class="info-wrapper">

        <div class="server-info" :style="getServerInfoBoxStyle" v-if="!hudSettings.hideServerInfo">
            <div class="player-name-container">
                <h1>{{waterMarkInformations.discordlink}}</h1>
                <p>{{formattedDate}}</p>
            </div>
            <div class="line"></div>
            <div class="server-name-container">
                <h1>{{waterMarkInformations.servername}}</h1>
                <p>Online - {{playersAmount}}</p>
            </div>
            <div class="line"></div>
            <div class="server-logo-container">
                <img class="logo" :src="waterMarkInformations.logo">
                <img class="blur-img" :src="waterMarkInformations.logo">
            </div>
        </div>
        <div class="name-box" :style="getNameBoxStyle" v-if="!hudSettings.hideCharacterInfo">
            <h1>{{player_name}} - {{ hudSettings.streamerMode && !hudSettings.showMyPlayerId ? '**' : id}}</h1>
            <div id="timer"></div>
            <p>{{FormatJob}}</p>
        </div>
        <!-- Money Container Removed -->
    </div>


</div>