*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

html,
body {
  font-family: "PFDinDisplayPro Medium", sans-serif;
  font-feature-settings: "liga", "kern";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  image-rendering: optimizeQuality;

  overflow: hidden;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: pre-wrap;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
